.topblock{

}

.top-btn {
  width: 400px;
  height: 400px;
  display: block;
    margin-top: 0%;
    margin-left: auto;
    margin-bottom: -5%;
    margin-right: auto;
}

a.btn-border {
  border: 2px solid #000;
  border-radius: 0;
  background: #fff;
  margin: 0px 1px 20px 33px;
}

a.btn-border:hover {
  color: #fff;
  background: #000;
}

.buck {
  background-color: rgb(204, 203, 203);
}